*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
}

header{
    background-color: rgb(21, 4, 91);
    padding: 20px;
}

main{ 
    padding: 15px;
}
  
.side-bar{
    background: rgba(255,255,255 , 0.1);
    background-color: rgb(21, 4, 91);
    width: 290px;
    height: 100vh;
    position: fixed;
    top:0;
    left: -100%;
    overflow-y: auto;
    transition: 0.6s ease;
    transition-property: left;
}
  
.side-bar.active{
    left: 0;
}
  
.side-bar .menu{
    width: 100%;
    margin-top: 80px;
}
  
.side-bar .menu .item{
    position:relative;
    cursor:pointer;
}
  
.side-bar .menu .item a{
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    display: block;
    padding: 5px 30px;
    line-height: 60px;
}
  
.side-bar .menu .item a:hover{
    background: #8621F8;
    transition: 0.3s ease;
  
}
  
.side-bar .menu .item i{
    margin-right: 15px;
}
  
.side-bar .menu .item a .dropdown{
    position: absolute;
    right:0;
    margin: 20px;
    transition: 0.3s ease;
}
  
.side-bar .menu .item .sub-menu{
    background: rgba(255,255,255 , 0.1);
    display:none;
}
  
.side-bar .menu .item .sub-menu a{
    padding-left: 80px;
}
  
.rotate{
    transform: rotate(90deg);
}
  
.close-btn{
    position: absolute;
    color: #fff;
    font-size: 20px;
    right: 0;
    margin: 25px;
    cursor: pointer;
}
  
  
.menu-btn{
    position: absolute;
    color: #fff;
    font-size: 15px;
    margin: -5px;
    cursor:pointer;
}

#listaRegistros{ display: none; }
#cadastroRegistro{
    display: none;
    flex-direction: column;
    gap: 30px;
}

body[page=lista] #listaRegistros{ display: block; }
body[page=cadastro] #cadastroRegistro{ display: flex; }

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}
  
th, td {
    text-align: left;
    padding: 8px;
    border: solid 1px #ccc;
}
  
tr:nth-child(even){background-color: #f2f2f2}

button{
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #07a;
    color: #fff;
    margin: 3px;
    padding: 10px 15px;
}

button.vermelho{
    background-color: #a00;
}
button:hover{
    opacity: 0.8;
}

input{
    border: solid 1px #ccc;
    border-radius: 4px;
    padding: 10px;
}

select{
    border: solid 1px #ccc;
    border-radius: 4px;
    padding: 10px;
}

textarea {
    border: solid 1px #ccc;
    border-radius: 4px;
    padding: 10px;
}

.label>div{
    display: flex;
}

.label>div>input{
    flex: 1;
}

.label>div>select{
    flex: 1;
}

.label>div>textarea{
    flex: 1;
}


.container {
    height: 100%;
    width: 100%;
    background: -webkit-linear-gradient(top, #088fad 20%, #00d5ff 100%);
}

.bloco {
    float: left;
    width: 96%;
    height: 300px;
    margin-left: 2%;
    margin-bottom: 20px;
}

@media only screen  and (min-width: 769px){
    .bloco {
        float: left;
        width: 50%;
        height: 300px;
        margin-left: 0%;
        margin-right: 0%;
        margin-bottom: 20px;
    }  
}


/* ########################################### */
/*            detail.html                      */
/* ########################################### */
.head{
    display: flex;
    background-color: #f1f1f1;
    padding: 5px;
    font-weight: bold;
    font-size: 15px;
}

.authors{
    flex: 20%;
}

.content{
    flex: 80%;
}

.body{
    display: flex;
    background-color: #f1f1f1;
    padding: 10px;
    margin-top: 5px;
}